
/**
 * inputEx.Field
 */
div.inputEx-Field input,select,textarea {
	border: 1px solid #B5B8C8;
}

/**
 * State classes
 */
div.inputEx-valid input,select,textarea {
}

div.inputEx-invalid input,select,textarea {
	border: 1px solid #DD7870;
}

div.inputEx-required input,select,textarea {
	border: 1px solid #DD7870;
}

div.inputEx-empty input,select,textarea {
	border: 1px solid #B5B8C8;
}

div.inputEx-focused input,select,textarea {
	border: 1px solid #6E9DC9;
}

/**
 * State icon
 */
img.inputEx-Field-stateIcon {
   width: 16px;
	height: 16px;
	background: transparent url('') no-repeat scroll 0px 0px;
	visibility: hidden;
	cursor: default;
	margin-left:4px;
	vertical-align: middle;
}

div.inputEx-valid img.inputEx-Field-stateIcon {
	background-image: url('../images/tick.png');
	visibility: visible;
}

div.inputEx-invalid img.inputEx-Field-stateIcon {
	background-image: url('../images/exclamation.gif');
	visibility: visible;
}

div.inputEx-required img.inputEx-Field-stateIcon {
	background-image: url('../images/cancel.png');
	visibility: visible;
}


/**
 * Tooltips
 */
div.inputEx-tooltip-exclamation {
	background-image: url('../images/exclamation.gif');
	width: 16px;
	height: 16px;
	margin-right: 4px;
	float: left;
}

div.inputEx-tooltip-required {
	background-image: url('../images/cancel.png');
	width: 16px;
	height: 16px;
	margin-right: 4px;
	float: left;
}

div.inputEx-tooltip-validated {
	background-image: url('../images/tick.png');
	width: 16px;
	height: 16px;
	margin-right: 4px;
	float: left;
}


/**
 * ColorField
 */
div.inputEx-ColorField {
	height: 16px;
	width: 150px;
	border: 1px solid #B5B8C8;
	margin-left: 0px;
	cursor: pointer;
}

.inputEx-ColorField-popup {
	z-index: 999;
	position:absolute;
	border:1px solid #B5B8C8;
	padding:5px;
	margin:10px;
	background:#ffffff;
}
.inputEx-ColorField-popup .hd {padding:5px; }
.inputEx-ColorField-popup .bd {padding:5px; }
.inputEx-ColorField-popup .ft {padding:5px; }


/**
 * UrlField
 */
div.inputEx-UrlField {
}

div.inputEx-UrlField img {
   vertical-align: middle; 
   visibility: hidden;
   width: 16px;
   height: 16px;
   margin: 0px 2px 3px 0px;
}

/**
 * inputEx-ListField
 */

img.inputEx-ListField-addButton {
    background: transparent url(../images/add.png) no-repeat scroll 0%;
    width: 16px;
    height: 16px;
    cursor: pointer;
 }

img.inputEx-ListField-delButton {
   background: transparent url(../images/delete.png) no-repeat scroll 0%;
   width: 16px;
   height: 16px;
   float: left;
   cursor: pointer;
}


/**
 * inputEx.Group
 */

td.inputEx-Group-label {
   padding: 3px;
   vertical-align: top;
}
 
table.inputEx-Group-Options {
    margin-left: 20px;
}

div.inputEx-Group-Options-Label {
   cursor: pointer;
}

div.inputEx-Group-Options-Label img {
   width: 14px;
   height: 14px;
   background-image: url(../images/sprite-menu.gif);
   background-color: transparent;
   background-repeat: no-repeat;
   background-attachment: scroll;
}
div.inputEx-Group-Options-Label-Collapsed img {
   background-position: -8px -315px;
}

div.inputEx-Group-Options-Label-Collapsed:hover img {
   background-position: -8px -395px;
}
div.inputEx-Group-Options-Label-Expanded img {
   background-position: -8px 4px;
}
div.inputEx-Group-Options-Label-Expanded:hover img {
   background-position: -8px -76px;
}
