div.inputEx-valid div.inputEx-message {
   color:#505050;
   font-weight: normal;
}

div.inputEx-valid div.inputEx-label {
   color:#505050;
   font-weight:normal;
}

div.inputEx-invalid div.inputEx-message, div.inputEx-required div.inputEx-message {
   color:#C00E0C;
   font-weight:bold;
}

div.inputEx-invalid div.inputEx-label, div.inputEx-required div.inputEx-label {
   color:#C00E0C;
   font-weight:bold;
}

div.inputEx-invalid div.inputEx-label label, div.inputEx-required div.inputEx-label label {
   background:transparent url(../images/error_bang.gif) no-repeat scroll 0 1px;
   padding-left:20px;
}


/* Properties set by an invalid higher hierarchy field are disabled for valid or empty subfields */
div.inputEx-valid div.inputEx-label label,
div.inputEx-empty div.inputEx-label label {
   background: none;
   padding-left: inherit;
   font-weight:normal;
   color: #505050;
}

div.inputEx-typeInvite div.inputEx-Field input, div.inputEx-typeInvite div.inputEx-Field textarea {
   color: #aaa;
}