
/**
 * inputEx.TypeField
 */
div.inputEx-TypeField-EditButton {
   width: 16px;
   height: 16px;
   background-image: url(../../images/pencil.png);
   cursor: pointer;
   float: left;
   margin-left:4px;
}

div.inputEx-TypeField-PropertiesPanel {
   border: 1px solid #aaa;
   padding: 3px;
   background-color: white;
   position: absolute;
   top: 0px;
   left: 16px;
   z-index:1;
   width: 350px;
}


#mainTable {
   width: 100%;
}

#mainTable td.mainTableTd {
   vertical-align: top; 
   width: 50%;
   padding: 10px;
}


#groupContainer {
    border: 1px solid #9999ff; background-color: #eeeeff; padding: 10px;
     width: 90%;
   margin: auto;
}

#container {
   border: 1px solid #9999ff; background-color: #eeeeff; padding: 10px;
    width: 90%;
   margin: auto;
}

p.tdTitle {
   font-size: 14pt;
   margin: 5px;
   text-align: center;
}

#codeGenerator {
   width: 100%;
}

#pagetitle {
background:#B6CDE1 url(http://us.i1.yimg.com/us.yimg.com/i/ydn/bg_hd.gif) repeat-x scroll 0pt;
border:1px solid #93B2CC;
position:relative;
margin: 10px;
}

#pageTitle h1 {
   font-size:120%;
   font-weight:bold;
   left:-1px;
   margin:0pt -2px 0pt 0pt;
   padding:4px 0pt 2px;
   position:relative;
   text-indent:15px;
   top:-1px;
}